.dark-mode {
  background-color: #181a1b !important;
  color: ghostwhite !important;
}

.dark-mode a {
  background-color: #181a1b !important;
  color: ghostwhite !important;
}

.dark-mode div.row {
  background-color: #181a1b !important;
  color: ghostwhite !important;
}

.dark-mode div.col {
  background-color: #181a1b !important;
  color: ghostwhite !important;
}

.dark-mode div.offcanvas-body {
  background-color: #181a1b !important;
  color: ghostwhite !important;
}

.divider {
  border-right: 0.0625rem solid #c1c0c0;
  padding-right: 0;
}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.compass {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  border: 5px solid #ab2c94;
  margin: 25px auto auto;
}

.compass > .arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: grey transparent transparent;
  z-index: 1;
  margin-top: 2.5px;
}

.compass-border > .compass > .arrow {
  width: 220px;
  height: 220px;
}

.compass > .compass-circle,
.compass > .my-point {
  position: absolute;
  width: 64%;
  height: 64%;
  transform: translate(25%, 25%);
  transition: transform 0.1s ease-out;
  background: url('/src/Images/compass.png') center no-repeat;
  background-size: contain;
}

canvas {
  margin-top: 5px !important;
}

div.offcanvas-body, div.offcanvas-header, div.offcanvas.offcanvas-start {
  min-width: 270px !important;
  width: 270px !important;
}
