.App {
  background-size: auto auto;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  height: 100%;
  width: 20vm !important;
  min-width: 125px !important;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#000000;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidenav-logos {
  display: block;
  flex-direction: column;
  width: 20px;
  min-width: 125px !important;
  height: 20px;
  margin: 5px 10px auto auto;
}

.main {
  margin-left: 10%;
  width: 70vm;
  display: block;
  padding: 0px 10px;
  overflow-x: hidden;
}

.queue-img {
  width: 20px;
  height: 20px;
  border-radius: var(--bs-border-radius)!important;
  margin-right: 0.5rem!important;
}

.divider {
  border-right: 0.0625rem solid #c1c0c0;
  padding-right: 0;
}


.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.compass {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: black;
  border: 10px solid #ab2c94;
  margin: 50px auto auto;
}

.compass > .arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 40px 30px 0 30px;
  border-color: grey transparent transparent;
  z-index: 1;
  margin-top: 5px;
}

.compass-border > .compass > .arrow {
  position: absolute;
  width: 340px;
  height: 340px;
  margin: auto;
  border-radius: 50%;
  background: black url('/src/Images/compass.png') no-repeat center;
}

.compass > .compass-circle,
.compass > .my-point {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  background: url('/src/Images/compass.png') center no-repeat;
  background-size: contain;
}

.compass-circle {
  background: url('/src/Images/compass.png') center no-repeat;
}

canvas {
  margin-top: 5px !important;
}
